.opportunitypagecss .evetop {
    margin-left: 100px;
    font-size: 15px;
    margin-top: 25px;
    font-family: Roboto;
}

.opportunitypagecss .btnsizeartone {
    margin-left: 10px !important;
    margin-bottom: 10px !important;
    font-family: Roboto;
}

.opportunitypagecss .csshemap {
    margin-top: 6px;
    margin-right: 8px;
    height: 14px;
}

.opportunitypagecss .multiloc {
    font-size: 16px;
    font-family: Roboto;
}

.opportunitypagecss .imglog {
    margin-top: 15px;
    margin-bottom: 50px;
}

.opportunitypagecss .btnshare {
    width: 10%;
    height: 35px;
    background-color: #D19426;
    color: #000;
    font-weight: 700;
    font-size: 15px;
    font-family: Roboto;
}
.opportunitypagecss .hellowthtopex{
    font-size: 15px;
    margin-left: 15px;
}
.opportunitypagecss .txthellowth {
    color: #D19426;
    font-size: 14px
}
.opportunitypagecss .txthellowthtop{
    font-size: 16px;
    font-family: Roboto;
}


.opportunitypagecss .experince {
    margin-left: 47px;
    color: #D19426;
    font-size: 18px;
}

.opportunitypagecss .experincebottom {
    margin-left: 47px;
    font-size: 18px;
}
.opportunitypagecss .txtinterser{
    font-size: 18px;
    margin-left: 45px
}

.opportunitypagecss .experinceone {
    margin-left: 47px;
    font-size: 18px;
}

.opportunitypagecss .txthellowthfull {
    margin-left: 47px;

}

.opportunitypagecss .mrtop {
    margin-top: 20px;
    font-family: Roboto;
}

.opportunitypagecss .imgdesignercallout {
    width: 100%;
    height: auto;
    background-color: #D19426;
    padding: 38px;
}

.opportunitypagecss .txthellowthone {
    margin-left: 45px;
    font-size: 16px;
    color: #D19426;
    margin-bottom: 26px
}

.opportunitypagecss .txthellowthbottom {
    font-size: 16px;
}

.opportunitypagecss .padcss {
    padding: 35px;
}
.opportunitypagecss .juniorde{
    font-family: Roboto;
    font-weight: 500;

}


.opportunitypagecss .imgdesignercalloutinner {
    width: 99%;
    height: auto;
    background-color: #F3E8C3;
    border-radius: 30px;
}

.opportunitypagecss .txthellowthfull {
    font-size: 15px;
    margin-left: 45px;
}

.opportunitypagecss .applyfill {
    text-align: center;
    font-size: 30px;
    color: #D19426;
    font-family: Roboto;
}

.opportunitypagecss .applyfilltop {
    font-size: 61px;
    margin-bottom: 26px;
    text-align: center;
    color: #D19426;
    font-family: Roboto;
}
.opportunitypagecss .txttarash{
    font-size: 15px;
    color: #A1A1A1;
    font-family: Roboto;
}